:root {
    --header-height: 105px;
}

header {
    background-color: var(--headerBackgroundColor);
    border-bottom-color: var(--headerAssentColor);
    color: var(--headerFontColor);
}

header > .content {
    border-color: var(--headerAssentColor);
    background-color: var(--headerBackgroundColor);
}

.sidebar > nav {
    position: fixed;
    top: var(--header-height);
    background-color: var(--headerBackgroundColor);
    color: var(--headerFontColor);
    /* Começa fora da tela */
    left: -250px;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-250px);
    z-index: 100;
}

.sidebar.visible > nav {
    transform: translateX(250px);
    /* Aparece na tela */
}

.sidebar > nav > a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    text-decoration: none;
}

.sidebar > nav > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar > nav > a > svg {
    margin-right: 1em;
}

.sidebar > .closeArea {
    position: fixed;
    top: calc(var(--header-height) + 9px);
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.sidebar.visible > .closeArea {
    pointer-events: auto;
    opacity: 1;
}
